footer {
    background-color: #005A00;


    overflow: hidden;
    position: relative;
    text-align: center;
    color: #afafb1;
}



ul {
    list-style-type: none;
}

#topFooter {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#topFooter div {
    margin: 5px 70px;
}

#topFooter div ul {
    padding: 0;

}

#topFooter div p {
    font-weight: bold;
    font-size: 1.5em;
}

#topFooter div ul li {
    margin: 10px 0px;
    font-weight: lighter;
}

#topFooter div ul li:hover {
    cursor: pointer;
    color: greenyellow;
}

@media(max-width: 1058px) {


    #topFooter div {
        margin: 5px 20px;
    }
}

@media(max-width: 700px) {

    #topFooter {
        flex-direction: column;
    }
}




#bottomFooter>ul,

#bottomFooter>p {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

}

#bottomFooter>p {
    text-align: center;
}

#bottomFooter>ul>li>img {
    width: 20px;

}