#banner {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    background-color: #005A00;
    align-items: center;
   
    
    z-index: 2;
    overflow: hidden;
}


#navIcon {
    display: none;
}

#navList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0 10px;
}

#navList>li {
    padding: 0 5px;
}

#banner>#leftbanner {
    display: flex;
    align-items: center;

}

#banner>#leftbanner>img {
    height: 100px;
}

#banner>#leftbanner>h1 {
    margin-left: 10px;
    color: #46FF6F;
}

#navList>li>a {
    text-decoration: none;
    color: whitesmoke;
}

#navList>li>a:hover {
    text-decoration: underline;
    color: greenyellow;
}

#navList>* {
    font-size: 1.2em;
}

@media (max-width : 900px) {

    #banner>#leftbanner>img {
        height: 100px;
    }

    #banner>#leftbanner>h1 {
        font-size: 1.2em;
        text-align: center;
    }
}

@media (max-width:600px) {
    #banner {
        position: relative;
        display: block;
    }

    #banner>#leftbanner>h1 {
        font-size: 1.4em;

    }

    #navIcon {
        margin-right: 20px;
        display: inline !important;
        width: 50px;
        cursor: pointer;
        position: absolute;
        top: 38px;
        right: 0;



    }

    #navList {
        display: block;
        width: 80%;
        text-align: center;
        display: none;
    }

    #navList>* {
        margin: 15px 0px;

    }
}

@media(max-width:510px) {
    #banner>#leftbanner {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    #navList>* {
        font-size: .8em;
    }

    #banner>#leftbanner>h1 {
        margin: 0px;
        text-align: start;


    }
}

@media(max-width:400px) {
    #banner>#leftbanner>h1 {
        font-size: 1em;
        margin-left: 5px;

    }

    #banner>#leftbanner>img {
        height: 70px;
    }

 #navIcon {

        top: 25px;



    }

}