.admission-body {}

.admission-body>aside {

    width: 50%;
    margin: auto !important;
    padding: 0px !important;
    text-align: center;
    line-height: 40px;
}

.admission-body>aside:last-child>p {
    text-align: justify;
    margin-right: 5px;

    margin: auto;
    line-height: 50px;
}

@media(max-width:400px) {
    .admission-body>aside>h1 {
        font-size: 1.5em;

    }
}

@media (max-width:900px) {


    .admission-body>aside {

        width: 80%;
    }
}