* {
    transition: 2s;
}



.container-responsive {
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('images/5Z9A8248.webp');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    overflow: hidden;
    display: flex;
    min-height: 400px;
 
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    overflow: hidden;
    color: white;

}

.container-responsive>div {

    height: fit-content;
    text-align: center;
    width: 50vw;
    margin: auto;
    align-items: center;
    padding: 10px;

}


.container-responsive>div>p {
    text-align: justify;
    font-weight: lighter;
    font-size: 1em;
    line-height: 40px
}

@media(max-width:900px) {
    .container-responsive {
        display: block;
        gap: 100px;

    }

    .container-responsive>div {
        width: 90vw;
        /* margin:auto; */

    }


    .homepagewrappercontainer-responsive {
        margin: 0px !important;
        padding:0 !important
    }

  
    .container-responsive>* {
        margin: 10px auto 60px auto;

    }

    .container-responsive>div>img {
        width: 50%;
        object-fit: cover;

    } 
}

@media(max-width: 400px){
.container-responsive > div > h1{
    font-size: 1.3em;
}

.container-responsive > div > h4{
    font-size: 1em;
}
}