.body {
    background-image: url("../images/Webp/cropped_circle_image.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 90, 0);
    background-position: 50%;

    
} 

.staffWrapper {
    margin: 10px auto;
    max-width: 90vw;
    min-height: fit-content;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(15, 23, 42, 0.6);
    padding: 10px;
    background-color: rgba(0, 90, 0,.9);
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: white;
    user-select: none;
    -webkit-user-drag: none;
    position: relative;

}

.staffWrapper>.gridWrapper {
    display: flex;
    position: relative;
    gap: 16px;
    /* padding: 10px; */
}



.staffWrapper>.gridWrapper>.imageDiv {
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    margin-bottom: 50px;
    position: relative;
    transition-duration: 3s;
    
}

.staffWrapper>.gridWrapper>.imageDiv:hover {

    box-shadow: 0 6px 18px rgba(70, 255, 111, .6);

}

.staffWrapper>.gridWrapper>.imageDiv>img {
    height: 250px;
    cursor: pointer;
}

.gridWrapper>.imageDiv>h2 {
    display: block;
    font-size: .9em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.prev,
.next {
    position: absolute;
    border: none;
    top: 10%;
    height: 100px;
    border-radius: 50%;
    display: flex;
    padding: 10px;
    align-items: center;
    opacity: 0.05;

    cursor: pointer;
}

.staffWrapper:hover > .next,
.staffWrapper:hover > .prev {
  opacity: .9;
}

.next {
    right: 0;
}

.activeImageDetailsDiv>.imgSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.activeImageDetailsDiv>section>img {
    /* flex: 1; */
    width: 50vw;
    /* object-fit: cover; */


}


.activeImageDetailsDiv>section>.imgTextAside>h1 {

    font-size: 2em;
}

.activeImageDetailsDiv>section>.imgTextAside>h5 {
    font-size: 1.5em;
    font-weight: bold;
}

.activeImageDetailsDiv>section>.imgTextAside>* {
    margin: 5px;
    font-weight: lighter;
    /* box-shadow: 0 6px 18px rgba(15, 23, 42, 0.1); */
    padding: 5px;
    text-align: center;

}


.activeImageDetailsDiv>p {
    font-weight: lighter;
    line-height: 30px;

    text-align: justify;
}



@media(max-width:1000px) {
    .activeImageDetailsDiv>section>img {
        /* width: 6vw; */
    }

    .activeImageDetailsDiv>section>.imgTextAside>h1 {

        font-size: 1.5em;
    }

    .activeImageDetailsDiv>section>.imgTextAside>h5 {
        font-size: 1em;
        font-weight: bold;
    }
}

@media (max-width:700px) {
    .activeImageDetailsDiv>.imgSection {

        flex-direction: column;
    }

    .activeImageDetailsDiv>section>.imgAside {
        width: 200px;
        height: 200px;


    }
}


@media (max-width:700px) {
    .activeImageDetailsDiv>.imgSection {

        flex-direction: column;
    }

    .activeImageDetailsDiv>section>.imgAside {
        width: 200px;
        height: 200px;


    }

    .activeImageDetailsDiv>section>img {

        width: 100vw;
    }
}