*{
     transition: 2s;
}
.carousel{
    position: relative;
    width: 80%;
    margin:40px auto;
    overflow: hidden;
    height: 400px;
}

.carouselInner{
    display: flex;
}

.carouselInner > source{
    width: 100%;
    height: 400px;
    object-fit: cover;
    flex-shrink: 0;

}


.prev-btn, .next-btn{
position: absolute;
top:50%;
transform: translateY(-50%);
background: #fff;
border: none;
padding: 10px;
cursor: pointer;
}

.prev-btn{
    left:10px;
}

.next-btn{
    right: 10px;
}