.twoSidedContainer{
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    /* align-items: center; */
    height: 500px;
    justify-content: center;
    overflow: hidden;
    height: fit-content;
    margin:auto;
    width: 80vw;
}

.twoSidedContainer > section{
   min-height: 400px; 
    padding: 10px;
   position: relative
}  

.twoSidedContainer > section> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 6px 18px rgba(15, 23, 42, 0.6);
    
}


@media(max-width:700px){
  .twoSidedContainer{
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    /* align-items: center; */
    height: 500px;
    justify-content: center;
    overflow: hidden;
    height: fit-content;
    margin:auto;
    width: 80vw;

}
  
}

